<h1><%= @guests.name %></h1>


<ul>

        <li>Name : <%= @guests.name %></li>
        <li>Address : <%= @guests.address %></li>
        <li>Wedding: </li>
        <li>Gift : <%= @guests.gift %></li>
        <li>Wording : <%= @guests.wording %></li>

</ul>