<h1 class="title">
  <%= @users.name %>
</h1>


<div class="col-md-3 actors">
      <% @users.guests.each do |detail| %>
        <p><li>Name : <%= detail.name %></li>
        <li>Address : <%= detail.address %></li>
        <li>Gift : <%= detail.gift %></li>
        <li>Wording : <%= detail.wording %></li></p>
      <% end %>

</div>
