<h1 class="title">
  <%= @user.name %>
</h1>


<div class="col-md-3 actors">
      <% @user.guests.each do |detail| %>
        <li>Name <%= detail.guest.name %></li>
        <li>Address <%= detail.guest.address %></li>
        <li>Gift <%= detail.guest.gift %></li>
        <li>Wording <%= detail.guest.wording %></li>
      <% end %>

</div>
