<% user=User.find_by(id: params["id"]) %>
	<p> <%= user.name %> </p>



	<% guests=Guest.all.where user_id:params["id"] %>
<% guests.each do |guest| %>
<p>Name <%= guest.name %> </p>
<p>Address <%= guest.address %> </p>
<p>Gift <%= guest.gift %> </p>
<p>Status <%= guest.status %> </p>
<p>Wording <%= guest.wording %> </p>
<p>Card <% card= Card.find_by(id:guest.id) %> 
<%=card.sku%></p>
<% end %>