<% user=User.find_by(id: params["id"]) %>
	<p> <%= user.name %> </p>



	<% guests=Guest.all where user_id:params["id"] %>
<% guests.each do |guest| %>
<p><%= guest.name %> </p>
<p><%= guest.address %> </p>
<p><%= guest.gift %> </p>
<p><%= guest.status %> </p>
<p><%= guest.wording %> </p>
<p><% card= Card.find_by(id:guest.id, user_id:params["id"]) %> 
<%=card.sku%></p>
<% end %>